* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto Light', arial, serif;
}


.wrapper {
    margin: 40px auto;
    max-width: 1600px;
    position: relative;
}
.wrapper h1 {
    text-align: center;
    margin-top: 10px;
    color: #da3610;
}
.wrapper .about
{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    color: #999;
    text-decoration: none;
    border-bottom: 1px solid #999;
}
.wrapper .about:hover {
    color: #333;
    border-bottom: 1px solid #333;
}

.wrapper form {
    margin-top: 30px;
    font-family: 'Roboto Regular', arial, serif;
}
.wrapper form table {
    width: 100%;
}
.wrapper form table th,
.wrapper form table td {
    padding: 10px 0;
}
.wrapper form table th {
    text-align: left;
    width: 360px;
    padding-right: 10px;
}
.wrapper form table input[type="text"],
.wrapper form table input[type="number"]
{
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 0;
    border-bottom: 1px solid #da3610;
    outline: none;
    font-size: 16px;
}
.wrapper h3 {
    text-align: center;
    margin-top: 45px;
    font-weight: 200;
    font-size: 24px;
}

.clear {
    clear: both;
}

.btn {
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 18px;
    text-decoration: none;
}
.btn-send {
    float: right;
    background: #da3610;
    color: #ffffff;
    border-bottom: 1px solid #da3610;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.btn-send:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.38);
}
table.table {
    border: 1px solid #e8e8e8;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table.table th,
table.table td {
    border: 1px solid #e8e8e8;
    padding: 7px !important;
}
table.table th {
    text-align: center !important;
}
table.table td {
    position: relative;
    text-align: center;
}

.step2-table input[type="text"] {
    width: 60px !important;
    text-align: center;
}
.step2-table input[type="text"].input-valid {
    border-bottom: 1px solid green !important;
}
.step2-table input[type="text"].error {
    border-bottom: 1px solid red !important;
}
.step2-table .row-input {
    text-align: center;
}

table.table tr.not_active {
    color: #aaaaaa;
}

table.table tr.not_active input[type="text"] {
    opacity: 0.2;
}

table.table td .remove {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 10px;
    height: 10px;
    background: url("/static/icons/cross.png") no-repeat center;
    background-size: 100%;
    opacity: 0.3;
    cursor: pointer;
    display: none;
}
table.table td:hover .remove {
    display: block;
}
table.table td .remove:hover {
    opacity: 0.7;
}

table.table td .delete {
    width: 16px;
    height: 16px;
    background: url("/static/icons/cross.png") no-repeat center;
    background-size: 100%;
    opacity: 0.3;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
table.table td .delete:hover {
    opacity: 0.7;
}


table.table td .inf {
    font-size: 12px;
    margin-top: 5px;
}

table.table td .error {
    font-size: 12px;
    color: red;
}
table.table td .error span {
    color: red;
}

.not_permissible {
    font-weight: bold;
    text-decoration: underline;
}

.steps {
    font-size: 24px;
    list-style: none;
    margin: 0 auto 30px;
    text-align: center;
}
.steps li {
    margin: 0 25px;
    width: 80px;
    border-bottom: 2px dashed #ccc;
    display: inline-block;
}
.steps li.active {
    border-bottom: 2px dashed #da3610;
    color: #da3610;
}