{% extends 'base.html' %}

{% block title %}Оценка рисков нарушения ИБ{% endblock %}

{% block page_content %}
    <div class="wrapper">

        <h1>О системе</h1>

        <p style="margin-top: 40px">Разработанная система предоставляет возможность автоматизированного выбора варианта средств защиты информации, который соответствовал бы более качественной работе информационной системы.</p>

        <p style="margin-top: 30px"><b>Авторы:</b> Высоцкий К.А, Ямутов В.Р., Маршинский В.Л.</p>
        <p><b>Руководитель:</b> Фот Юлия Дмитриевна</p>

        <p style="margin-top: 20px">Оренбург, 2017 г</p>

    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('select').selectize();
    </script>
{% endblock %}