{% extends 'base.html' %}

{% block title %}Оценка рисков нарушения ИБ{% endblock %}

{% block page_content %}
    <div class="wrapper">

        <a href="/about/" class="about">О системе</a>

        <ul class="steps">
            <li class="active">Шаг 1</li>
            <li>Шаг 2</li>
            <li>Шаг 3</li>
        </ul>

        <div class="clear"></div>

        <h1>Оценка рисков нарушения ИБ</h1>

        <form action="" method="post" novalidate>
            {% csrf_token %}

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="error message message-error">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <table>
                <tbody>
                    <tr>
                        <th>
                            <label for="">ФИО эксперта:</label>
                        </th>
                        <td>
                            {{ form.expert_name }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="">Название организации / подразлеления:</label>
                        </th>
                        <td>
                            {{ form.organisation_name }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="">Название рассматриваемой системы:</label>
                        </th>
                        <td>
                            {{ form.system_name }}
                        </td>
                    </tr>
                </tbody>
            </table>

            <h3>Выберите данные для формирования таблицы результатов оценки степени возможности реализвции угроз ИБ (СВР) и степени тяжести последствий от потери свойств ИБ (СТП)</h3>

            <table style="margin-top: 30px">
                <tbody>
                    <tr>
                        <th>
                            {{ form.active_name.label }}
                        </th>
                        <td>
                            {{ form.active_name }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ form.type_active_system.label }}
                        </th>
                        <td>
                            {{ form.type_active_system }}
                        </td>
                    </tr>
                </tbody>
            </table>

            <input type="submit" class="btn btn-send" value="Продолжить">
            <div class="clear"></div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('select').selectize();
    </script>
{% endblock %}