{% extends 'base.html' %}

{% block title %}Документирование данных и результатов оценки степени возможности реализации угроз ИБ (СВР) и степени тяжести последствий от потери ИБ (СТП){% endblock %}

{% block page_content %}
    <div class="wrapper">

        <ul class="steps">
            <li>Шаг 1</li>
            <li class="active">Шаг 2</li>
            <li>Шаг 3</li>
        </ul>

        <div class="clear"></div>

        <h1>Документирование данных и результатов оценки степени возможности реализации угроз ИБ (СВР) и степени тяжести последствий от потери ИБ (СТП)</h1>

        <form action="" method="post" novalidate>
            {% csrf_token %}

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="error message message-error">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <table class="table step2-table">
                <tbody>
                    <tr>
                        <th>Примеры уязвимостей</th>
                        <th>Степень простоты использования уязвимости</th>
                        <th>Примеры угроз</th>
                        <th>Степень вероятности возникновения угрозы</th>
                    </tr>

                    {% for step2_item in step2_items %}
                        <tr>
                            <th>{{ step2_item.example_vulnerability.title }}</th>
                            <th>
                                <select name="" id="">
                                    <option value="">Низкий</option>
                                    <option value="">Средний</option>
                                    <option value="">Высокий</option>
                                </select>
                            </th>
                            <th>{{ step2_item.example_vulnerability.example_danger }}</th>
                            <th>
                                <select name="" id="">
                                    <option value="">Низкий</option>
                                    <option value="">Средний</option>
                                    <option value="">Высокий</option>
                                </select>
                            </th>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>

            <a href="/step3/" class="btn btn-send">Продолжить</a>
            <div class="clear"></div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function isNumber(n) {
          return !isNaN(parseFloat(n)) && isFinite(n);
        }

        function onChange(row_id)
        {
            var svr = parseFloat($('.row-input[data-id="' + row_id + '"] input.svr').val());
            var stp = parseFloat($('.row-input[data-id="' + row_id + '"] input.stp').val());


            if (isNumber(svr) && isNumber(stp))
            {
                var svr_value = parseFloat(svr);
                var stp_value = stp * 100 / budget;

                var permissible = true;

                if (1 <= svr_value && svr_value <= 20)
                {
                    if (stp_value > 3)
                    {
                        permissible = false;
                    }
                }
                else if (20 < svr_value && svr_value <= 50)
                {
                    console.log('Средняя');
                    if (stp_value > 1.5)
                    {
                        permissible = false;
                    }
                }
                else if (5 < svr_value && svr_value < 100)
                {
                    console.log('Высокая');
                    if (stp_value > 0.5)
                    {
                        permissible = false;
                    }
                }
                else if (svr_value == 100)
                {
                    permissible = false;
                }

                var res;

                if (permissible)
                {
                    res = '<span style="">Допустимо</span>'
                }
                else
                {
                    res = '<span class="not_permissible">Недопустимо</span>';
                }

                var row = $('td.res_row[data-id="' + row_id + '"]');
                row.html(res);
            }
        }

        function update_row(row_id) {
            var svr = $('.row-input[data-id="' + row_id + '"] input.svr').val();
            var stp = $('.row-input[data-id="' + row_id + '"] input.stp').val();

            $.ajax({
                url: '/save_step2_item_view/' + row_id + '/',
                data: {
                    'stp_violations': stp,
                    'svr_threats': svr
                }
            });
        }

        function svr_valid(element)
        {
            var id = element.parents('td').attr('data-id');

            var value = parseFloat(element.val());
            var res = 'Не верно';

            if (value == '')
                res = '';
            else if (value == 0)
                res = 'Нереализуемая';
            else if (value <= 20)
                res = 'Минимальная';
            else if (value <= 50)
                res = 'Средняя';
            else if (value <= 99)
                res = 'Высокая';
            else if (value == 100)
                res = 'Критическая';
            else
                res = 'Не верно';

            var row = $('td.svr_row[data-id="' + id + '"]');
            row.html(res);

            onChange(id);

            return !!(isNumber(value) && 0 <= value && value <= 100);
        }

        function stp_valid(element) {
            var id = element.parents('td').attr('data-id');

            var res = 'Не верно';

            var val = parseFloat(element.val());

            if (isNumber(val))
            {
                var value = val * 100 / budget;

                if (value == '')
                    res = '';
                else if (value <= 0.5)
                    res = 'Минимальная';
                else if (value <= 1.5)
                    res = 'Средняя';
                else if (value <= 3.0)
                    res = 'Высокая';
                else
                    res = 'Критическая';
            }
            else if (element.val() == '')
            {
                res = '';
            }

            var row = $('td.stp_row[data-id="' + id + '"]');
            row.html(res);

            onChange(id);

            return !!(isNumber(value) && 0 <= value);
        }



        $('.svr').on('keyup', function () {
            svr_valid($(this));
        });



        var budget = parseInt('{{ first_step.budget }}');

        $('.stp').on('keyup', function () {
            stp_valid($(this));
        });


        function first_valid() {
            $('.svr').each(function (index, el) {
                var val = $(el).val();
                if (val != '')
                {
                    svr_valid($(el));
                }
            });

            $('.stp').each(function (index, el) {
                var val = $(el).val();
                if (val != '')
                {
                    stp_valid($(el));
                }
            });
        }

        first_valid();


        function all_valid() {
            var errors = false;

            $('.svr').each(function (index, el) {
                if (svr_valid($(el)) == false){
                    errors = true;
                }
            });

            $('.stp').each(function (index, el) {
                if (stp_valid($(el)) == false)
                {
                    errors = true;
                }
            });

            if (errors)
            {
                alert('Заполните правильно все обязательные поля!');
                return false;
            }

            return true;
        }



        $('td .remove').on('click', function () {

            var td = $(this).parents('td');

            if(confirm('Выдествитьльно хотите удалить эту строку?'))
            {

                $.ajax({
                    url: '/delete_step2_item/',
                    data: {
                        'type': td.attr('data-type'),
                        'type_information_active': td.attr('data-type_information_active-id'),
                        'type_object_environment': td.attr('data-type_object_environment-id'),
                        'properties_type_information_active': td.attr('data-properties_type_information_active-id'),
                        'threat_source': td.attr('data-threat_source-id'),
                        'method_implementing_hacking': td.attr('data-method_implementing_hacking-id')
                    },
                    success: function (data) {
                        console.log(data);
                        if(data.errors)
                        {
                            alert('Ошибка при удалении');
                        }
                        else
                        {
                            location.reload();
                        }
                    }
                });
            }
        });

        $('.svr').on('change', function () {
            var id = $(this).parents('td').attr('data-id');
            update_row(id);
        });

        $('.stp').on('change', function () {
            var id = $(this).parents('td').attr('data-id');
            update_row(id);
        });

        $('.btn-send').on('click', function () {
            return !!all_valid();
        });

    </script>
{% endblock %}