{% extends 'base.html' %}

{% block title %}Предлагаемый комплекс контрмер{% endblock %}

{% block page_content %}
    <div class="wrapper">
        <ul class="steps">
            <li>Шаг 1</li>
            <li>Шаг 2</li>
            <li class="active">Шаг 3</li>
        </ul>

        <div class="clear"></div>

        <h1>Предлагаемый комплекс контрмер</h1>

        <p style="margin: 40px auto; text-align: center">В результате работы программы было определено, что актив <span style="font-weight: bold">"{{ first_step.active_name }}"</span> имеет <span style="font-weight: bold">{{ first_step.res_number }}</span> итоговых баллов. Необходимо принять комплекс контрмер:</p>


        <table class="table step2-table" style="width: 100%">
            <tr>
                <th>Мероприятие</th>
                <th>Процент снижения уровня угрозы</th>
            </tr>

            {% for countermeasure in countermeasures %}
                <tr>
                    <td>{{ countermeasure.title }}</td>
                    <td>{{ countermeasure.percent|floatformat:2 }} %</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Нет рекомендаций</td>
                </tr>
            {% endfor %}

        </table>


    </div>
{% endblock %}

{% block scripts %}
{% endblock %}